<h1>Ejercicio 9</h1>
<br>
<br>
<div>
    <label>Tipo 1</label>
    <select [(ngModel)]="selectedTipo1.id" (change)="onSelect($any($event.target).value)">
        <option *ngFor="let tipo of tipo1" value={{tipo.id}}>
            {{ tipo.name }}
        </option>
    </select>
</div>
<br>
<div>
    <label>Tipo 2</label>
    <select (change)="onSelect2($any($event.target).value)">
        <option *ngFor="let tip of tipo2" value={{tip.id}}>
            {{tip.name}}
        </option>
    </select>
</div>
<br>
<div>
    <label>Tipo 3</label>
    <select>
        <option *ngFor="let ti of tipo3" value={{ti.id}}>
            {{ti.name}}
        </option>
    </select>
</div>

<div>
    <button type="button" >Guardar</button>
</div>

<div>
    <button type="button" >Limpiar</button>
</div>